

<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="b1">Create a New Recipe</h2>
            <div class="form-group">
              <label for="name">Recipe Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" /><br>
              <label for="imagepath">Image URL</label>
              <input
                type="text"
                class="form-control"
                id="imagePath"
                formControlName="imagePath"
                #imagePath
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" alt="image" class="img-responsive" style="height:100px; width: 50%;" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="descripition"> Recipe Descripition:</label><br>
            <textarea
              formControlName="descripition"
              id="descripition"
              rows="3"
              class="form-control"
            ></textarea>
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-6">
              <button type="submit" class="btn btn-success b1 btn-block "[disabled]="!recipeForm.valid">
                Save Recipe
              </button>
            </div>

            <div class="col-xs-6">
              <button type="button" class="btn btn-danger b1 btn-block" (click)="onCancel()">
                Cancel Recipe
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  