<div class="row">
    <div class="col-xs-12" style="padding-top:10px;">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive"
            style="max-height:300px ; width: 100%;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 bodystyle">
        <h2 style="color:rgb(153, 96, 10);">{{recipe.name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 bg-light bodystyle">
        <label>Recipes Descripition :</label>
        <p style="color:rgb(25, 27, 25); ">{{recipe.description}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipes <span
                    class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()" style="cursor:pointer;">Add To shopping list </a></li>
                <li><a style="cursor:pointer;" (click)="onEditRecipe()">edit recipes </a></li>
                <li><a style="cursor:pointer;" (click)="onDeleteRecipes()">delete recipes </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}}--{{ingredient.amount}} grm
            </li>
        </ul>
    </div>
</div>