/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgba(250, 247, 247, 0.897);
    background-image: url("https://wallpapers.com/images/hd/refreshing-food-drinks-tropical-ke0k58bof3ebzb8s.webp");
    background-repeat: auto;

}